.movie_ctn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.mov_content_info{
    display: flex;
    flex-direction: column;
    width: 73vw;
}
.mov_content_info h2{
    color: white;
}
.mov_content_dtl{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.mov_content_dtl p{
    color: white;
}
.mov_content_dtl img{
    width: 30%;
    margin: 0 20px 0 0;
}
.mov_ctn_dtl_rht{
    display: flex;
    flex-direction: column;
    width: 50%;
}